name: Test Github Action
on:
  schedule:
    - cron: '0 14 * * 5'
  workflow_dispatch:
    inputs:
      dry_run:
        required: true
        type: boolean
        default: 'true'
        description: 'DryRun?'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Renovate Automatic Branch
        uses: ./
        with:
          github-token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
          repo-owner: bodinsamuel
          repo-name: renovate-automatic-branch
